#product-description-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1 high, 2 wide */
    grid-template-rows: auto; /* height set automatically */
    gap: 20px; /* space between grid items */
    justify-content: space-around; /* this will space out the grid items */
    width: 90%;
    align-items: center;
    margin-top: 0px;
}

.add-to-cart {
    align-self: center;
    display: block; /* makes it a block-level element if it's not already */
    margin: 20px auto;
    transform: scale(1);
    border-radius: 20px;
}

.cta {
    align-self: center;
    display: block;
    margin: 30px auto;
    transform: scale(1);
}

.product-item {
    /* additional styles if needed */
    height: 80%;
    font-family: 'Times New Roman', Times, serif;
}

/* Smaller screen: 2 high and 1 wide */
@media (max-width: 768px) {
    #product-description-wrapper {
        grid-template-columns: 1fr; /* 2 high, 1 wide */
        grid-template-rows: auto auto; /* explicit two rows */
    }
}

#jessie-item-1-product-description {
    font-size: 40px;
    width: 80%;
    align-content: center;
    justify-self: center;
    margin-top: 60px;
}

#product-paragraph {
    margin-top: 70px;
    font-size: 16px;
    width: 90%;
}

/* Style adjustments for buttons and other elements if needed */

.carousel {
    text-align: center;
}

.carousel-images {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100px;
}

#main-image {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(67, 67, 67, 0.2), 0 6px 20px 0 rgba(67, 67, 67, 0.19); /* Multi-layered shadow for depth */
}

.thumbnail-container {
    display: flex;
    justify-content: center;
}

.thumbnail {
    max-width: 70px;
    height: auto;
    cursor: pointer;
    opacity: 0.6;
    margin: 0 5px;
    transition: opacity 0.3s;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(67, 67, 67, 0.2), 0 6px 20px 0 rgba(67, 67, 67, 0.19); /* Multi-layered shadow for depth */
}

.thumbnail:hover,
.thumbnail.active {
    opacity: 1;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px; /* Arrow size can be adjusted */
    height: 40px; /* Arrow size can be adjusted */
    margin-top: -20px; /* Half of height to center vertically */
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.2s ease, opacity 0.35s ease;
    border-radius: 50%;
    background-color: #656565; /* Light grey background */
    text-align: center;
    line-height: 40px; /* To vertically align the arrow symbol, should match the height */
    opacity: 0.5; /* Starting opacity */
    border: none;
    user-select: none;
    -webkit-user-select: none;
}

#prev {
    left: 10px; /* Adjust as necessary to position inside the main image */
}

#next {
    right: 10px; /* Adjust as necessary to position inside the main image */
}

.arrow:hover {
    background-color: #676767; /* Darker grey on hover */
    opacity: 0.8; /* Full opacity on hover */
}

#main-image {
    width: 100%;
    height: auto;
    display: block; /* Removes bottom margin/whitespace */
}